/* Landing.css */

.landing-container {
  background-color: #f5f5f5; /* Background color for the landing page */
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 36px;
  color: #333; /* Header text color */
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #666; /* Paragraph text color */
  margin-bottom: 40px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-button,
.login-button {
  padding: 15px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.register-button:hover,
.login-button:hover {
  background-color: #007bff;
  color: #fff;
}

.register-button {
  margin-right: 20px;
}

.login-button {
  margin-left: 20px;
}
