/* Stilurile pentru bara de navigare */
nav {
  background-color: var(--navbar-color); /* Culoare verde strălucitoare */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative; /* Adăugăm poziția relativă pentru a poziționa mesajul de salut */
}

/* Stil pentru efectul de linie de sub navbar */
nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff6b6b; /* Culoare roșie pentru linie */
  transform: scaleX(0); /* Inițial, linia are o lățime de 0 */
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

/* Efect la hover pentru linia de sub navbar */
nav:hover::before {
  transform: scaleX(1); /* La hover, linia crește până la lățimea completă */
  transform-origin: left;
}

/* Stil pentru link-urile din bara de navigare */
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* Stil pentru link-urile atunci când sunt hover */
nav a:hover {
  background-color: #ff6b6b; /* Culoare roșie la hover */
}

/* Stil pentru mesajul de salut */
.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin: 0 10px; /* Spațiere între elementele mesajului */
}
/* Continuăm stilurile existente pentru bara de navigare */

.logout-button {
  background-color: transparent; /* Fundal transparent pentru integrare fluidă */
  color: white; /* Text alb pentru a se potrivi cu schema de culori */
  border: 2px solid white; /* Bordură subțire pentru a evidenția butonul */
  padding: 0.5em 1em; /* Padding corespunzător pentru confort la click */
  border-radius: 5px; /* Colțuri rotunjite pentru a se potrivi cu designul link-urilor */
  font-weight: bold; /* Text îngroșat pentru a se potrivi cu greutatea fontului link-urilor */
  cursor: pointer; /* Cursor tip pointer pentru a indica acțiunea clicabilă */
  transition: background-color 0.3s ease-in-out, color 0.3s ease; /* Tranziție pentru hover */
  margin-left: 10px; /* O mică spațiere față de mesajul de salut sau alte elemente */
}

.logout-button:hover {
  background-color: #ff6b6b; /* Culoare de accent roșie la hover */
  color: black; /* Schimbarea culorii textului la hover pentru contrast */
  border-color: #ff6b6b; /* Asortarea bordurii cu fundalul la hover */
}

/* Îmbunătățirea accesibilității la focus pentru utilizatorii de tastatură */
.logout-button:focus {
  outline: none; /* Eliminăm conturul implicit */
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff6b6b; /* Adăugăm o umbră de focus pentru vizibilitate */
}

/* Stil pentru bara de navigare la ecrane mai mici (max-width: 768px) */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }
}
