.repartizare-elevi-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* max-width updated to accommodate more flex items */
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #343a40;
}

.label {
  display: block;
  margin: 10px 0 5px;
  color: #495057;
  text-align: left;
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.dropdown,
.button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
  font-size: 16px;
}

.dropdown {
  flex: 1;
}

.dropdown:focus,
.button:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.button {
  width: 150px; /* make the button smaller */
  margin-top: 15px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px; /* smaller font size */
}

.button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #dc3545;
}

.reset-button:hover {
  background-color: #c82333;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-label {
  color: #495057;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.clase-repartizate {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.subtitle {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  color: #343a40;
}

.clasa {
  flex: 1 1 calc(23% - 10px); /* 4 columns layout */
  max-width: calc(23% - 10px); /* maximum width to control layout */
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e9ecef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.clasa-title {
  margin-bottom: 10px;
  color: #343a40;
  text-align: center;
}

.lista-elevi {
  list-style: none;
  padding-left: 0;
}

.elev {
  padding: 5px 0;
  color: #495057;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .clasa {
    flex: 1 1 calc(33% - 10px); /* 3 columns layout on tablet */
    max-width: calc(33% - 10px);
  }
}

@media (max-width: 768px) {
  .clasa {
    flex: 1 1 calc(50% - 10px); /* 2 columns layout on small tablet */
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 576px) {
  .clasa {
    flex: 1 1 100%; /* 1 column layout on mobile */
    max-width: 100%;
  }
}
